{% extends 'qiyao_events/base.html' %}
{% load static %}

{% block content %}
  {% for event in object_list %}
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-10 col-8 border">
          <div class="card-body bg-light">
            <h5 class="card-title">{{ event.get_event_type_display }}{% if event.int_param %} ({{ event.int_param }}ml){% endif %}</h5>
            <h6 class="card-subtitle">{{ event.time }}</h6>
            {% if event.str_param %}
              <p class="card-text text-muted mt-2">{{ event.str_param }}</p>
            {% endif %}
          </div>
        </div>
        <div class="col update-icon border">
          <a type="button" class="btn" id="update_event_{{ event.pk }}" href="{% url 'events-update' event.pk %}">
            <img class="img-fluid" src="{% static 'qiyao_events/img/update_icon.png' %}" alt="">
          </a>
        </div>
        <div class="col remove-icon border">
          <a type="button" class="btn" id="remove_event_{{ event.pk }}" href="{% url 'events-delete' event.pk %}">
            <img class="img-fluid" src="{% static 'qiyao_events/img/remove_icon.png' %}" alt="">
          </a>
        </div>
      </div>
      
    </div>
  {% endfor %}
  <div class="row no-gutters">
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'events-add' %}">添加事件</a>
  </div>
{% endblock %}